$color: #0b5ed7;

body {
  background-color: #eee;
}

.body {
  padding: 10px 0px;
  .card {
    margin-top:10px;
  }
}
.mt-30 {
  margin-top: -30px;
}
.dropdown-menu {
  min-width: 100%;
  z-index: 1;
  img {
    width: 50px;
    border-radius: 4px;
  }
  .font-icon {
    color: $color;
    font-size: 25px;
    margin-top: 5px;
  }
}
.dropdown {
  input {
    margin-bottom: 5px;
  }
}
.card {
  img {
    width: 90%;
    border-radius: 10px;
  }
  .avatar-panel {
      width: 145px;
      height: 145px;
      display: inherit;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
  }
  .avatar-panel-small {
      width: 70px;
      height: 70px;
      display: inherit;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
  }
}

.user-containter {
  .card {
    width: 700px;
    margin: auto;
    margin-bottom: 10px;
    span {
      width: 145px;
      height: 145px;
      display: inherit;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .avatar {
      width: 50px;
      border-radius: 50%;
    }
  }
}

.w-12 {
  width: 12%;
}

.card-copy-info {
  padding-left: 10px;
  margin-top: 10p;
  border-left: 1px solid #e1e1e1cc;
}

.card {
  .badge {
    cursor: pointer;
  }
}

.card-friend-photo {
  width: 100px;
  border-radius: 50%;
  position: absolute;
}

.nav {
  .active {
    background: #0d6efd;
    a {
      color: #fff;
    }
  }
}